<p>剧情简介：还记得1995年由Robin Williams主演的《野蛮游戏 Jumanji》吗？以为只是简单的棋盘游戏，却没想到游戏的开始却开启了一系列疯狂的际遇！2017年的最新版本则舍弃了棋盘，但还是使用了传统的电子游戏机作为引子，让四个年轻人进入游戏中的野蛮世界。科技的发展让视觉效果更加逼真，但是否能取代1995年的精彩故事和精湛演技呢？</p><img alt="20171203_showbiz_1_Small.jpg" src="http://www.zaobao.com/sites/default/files/inline_images/20171203/20171203_showbiz_1_Small.jpg" /><a href="http://www.sph.com.sg">test</a><iframe allowfullscreen="" frameborder="0" height="400" scrolling="no" src="http://players.brightcove.net/4802324446001/default_default/index.html?videoId=5664016496001"></iframe>
