<h2>Test H2</h2>
<h3>Test H3</h3>
<p>圣诞即将来临，除了是丰盛的圣诞餐和让人期待的圣诞礼物交换，这个圣诞有哪些精彩好电影上映呢？马上来看看！</p>
<hr />
<h3 class="rtecenter">《萌牛費迪南》（Ferdinand）</h3>
<p class="rtecenter">
	<img alt="20171203_showbiz_1_Small.jpg" src="http://www.zaobao.com/sites/default/files/inline_images/20171203/20171203_showbiz_1_Small.jpg" />
</p>
<p>上映日期：12月21日</p>
<p>剧情简介：</p>

一直长得魁梧庞大却心思细腻的斗牛要如何摆脱他需要&ldquo;斗&rdquo;的宿命？他又如何带领众斗牛走出属于自己的道路？由著名职业摔角手兼演员约翰&middot;希南声音演出，这头萌牛有多可爱，你就得自己去看看咯！

<div class="fluid-iframe">
	<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/HBXVM7oUPVk" width="560"></iframe>
</div>
<hr />
<h3 class="rtecenter">《歌喉赞3》（Pitch Perfect 3）</h3>

<p class="rtecenter">
	<img src="https://media3.giphy.com/avatars/100soft/WahNEDdlGjRZ.gif"/>
	<p>上映日期：12月21日</p>
	剧情简介：延续第一和第二集的姐妹情&ldquo;声&rdquo;，第三集讲述的是这群女生毕业后再度聚首，重拾歌唱这个兴趣的故事。第三集要看什么？当然是一群女生相处时的爆笑画面和精彩的人声乐团歌唱！
	<div class="fluid-iframe">
		<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/aVsOXRgjeeU" width="560"></iframe>
	</div>
	<hr />
	<h3 class="rtecenter">《野蛮游戏》（Jumanji）</h3>
	<p class="rtecenter">
		<img alt="20171203_showbiz_2_Small.jpg" src="http://www.zaobao.com/sites/default/files/inline_images/20171203/20171203_showbiz_2_Small.jpg" />
		<p>上映日期：12月21日</p>
		剧情简介：还记得1995年由Robin Williams主演的《野蛮游戏 Jumanji》吗？以为只是简单的棋盘游戏，却没想到游戏的开始却开启了一系列疯狂的际遇！2017年的最新版本则舍弃了棋盘，但还是使用了传统的电子游戏机作为引子，让四个年轻人进入游戏中的野蛮世界。科技的发展让视觉效果更加逼真，但是否能取代1995年的精彩故事和精湛演技呢？
		<div class="fluid-iframe">
			<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2QKg5SZ_35I" width="560"></iframe>
		</div>
		<hr />
		<p><strong>圣诞相关影片：</strong></p>
		除了以上三部在圣诞周末上映的电影，从11月份开始其实陆续有好几部和圣诞相关的电影上映，如《A Bad Moms Christmas》、《Daddy&#39;s Home 2》和《The Man Who Invented Christmas》&mdash;&mdash;前两部强打搞笑逗趣，后一部则是以著名作家查尔斯&middot;狄更斯（Charles Dickens）在创作《A Christmas Carol》这本小说时的心路历程为故事，带出这位名作家在创作瓶颈时的拉扯与突破。
		<div class="fluid-iframe">
			<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/eGSIioEjcq0" width="560"></iframe>
		</div>
	</p>
</p>
